<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoCompleteMenu-ScintillaNET" version="1.6.2" targetFramework="net471" />
  <package id="Costura.Fody" version="4.1.0" targetFramework="net471" />
  <package id="CS-Script.lib" version="3.30.0" targetFramework="net471" />
  <package id="Fody" version="6.1.0" targetFramework="net471" developmentDependency="true" />
  <package id="jacobslusser.ScintillaNET" version="3.6.3" targetFramework="net471" />
  <package id="NLog" version="4.6.8" targetFramework="net471" />
  <package id="NLog.Windows.Forms" version="4.3.0" targetFramework="net471" />
  <package id="PagedControl" version="2.2.0" targetFramework="net471" />
  <package id="TabControl" version="2.1.2" targetFramework="net471" />
</packages>